/*titulo */
.cont-emca {
    text-align: center;
    margin-top: 50px;
}

/*formulario */
.contacto {
    padding: 50px 55px;
    box-shadow: 0 0 20px #000000;
    border-radius: 20px;
    text-align: center;
    width: 540px;
    background-color: #fff;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}
.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.input-group label {
    color: #D67E02;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}
.input-group input, textarea {
    width: 440px;
    height: 50px;
    padding: 17px 25px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 2px solid #000;
    color: #D67E02;
    outline: none;
}
.input-group input::placeholder, textarea::placeholder {
    color: #00000042
}
.form-txt {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.form-txt a {
    color: #D67E02;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
.btn {
    font-size: 16px;
    color: #FFFFFF;
    background-color: #D67E02;
    cursor: pointer;
}
.btn:hover {
    background-color: #D67E02;
}

/*mapa, información */
.maps {
    text-align: center;
    padding: 0 0 100px 0;
    background-color: #FFFFFF
}
.maps-content {
    display: flex;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
}
.info-map h3 {
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 15px;
}